<section class='for__brand'>
  <div class='for__brand container'>
    <h2 class='for__brand__title'>О БРЕНДЕ</h2>
    <div class='for__brand__box'>
      <img class='img__thumb-left' src='./images/img_for_brand_left.jpg' alt='' />
      <div class='img__thumb-main'>
        <img
          class='img__brand'
          src='./images/img_for_brand_desctop.jpg'
          alt=''
          width='961px'
          height='525px'
        />
      </div>
      <img class='img__thumb-right' src='./images/img_for_brand_right.jpg' alt='' height='598px' />
      <div class='for__brand__text'>
        <p class='for__brand__description'>
          Сегодня ELEAN - это первый в Украине магазин готового женского смокинга. У нас каждая
          женщина может подобрать для себя образ со смокингом, такой же как у голливудских див и
          звезд светской хроники.
          <br /><br />
          Костюм со смокингом ELEAN - выбор звёзд эстрады и кино, телеведущих, fashion-стилистов,
          успешных женщин-руководителей, представительниц научной и деловой элиты.
          <br /><br />
          История бренда началась задолго до первого показа, который состоялся 12 марта 2016 года, с
          мечты автора коллекции, Елены Писаревой о собственном бренде элегантной одежды и
          продолжалась долгие 30 лет накопления профессионального опыта. Вся первая коллекция была
          выполнена из 100% натурального шелка, в нее вошли жентсвенные платья и костюмы.
        </p>
        <button class='for__brand__btn' type='submit'>
          Подробнее
          <span class='for__brand__span'>\\</span>
          <svg class='img__btn-svg'>
            <use href='./images/img_for_brand_svg.svg' width='25' height='5'></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>